@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Fira Sans";
}
.body{
    background-color: #f1f1f3;
}
.container{
    width: 1280px;
    height: 440px;
    margin: 80px auto;
}
.banner{
    /* margin: 80px 160px; */
    background-color: #C6E4D6;
    /* padding: 80px 160px; */
    padding: 80px 60px;
    border-radius: 24px;
    margin-top: 60px;
}
.banner-container{
    display: flex;
    gap: 64px;
}
.img-1{
    height: 400px;
    padding: 40px 60px;
}
.banner-title{
    /* padding: 117px 60px; */
    height: 326px;
    width: 622px;
}
.banner-title-1{
    font-size: 24px;
    font-weight: bolder;
    color: rgba(14, 14, 14, 0.5);
    
}
.banner-title-2{
    font-size: 56px;
    font-weight: bold;
}
.banner-title-3{
    background-color: #006A50;
    width: 270px;
    height: 56px;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 700px;
    cursor: pointer;
}
/* .vision{
    /* width: 1280px;
    height: 765px; */
    /* margin: 80px 160px; 
    margin: 80px 0px;  */

.vision-container{
    /* margin-top: 50px; */
    margin: 50px 0;

}    
.vision-title {
    font-size: 40px;
    font-weight: bold;
}
.vision-description{
    font-size: 16px;
    /* font-weight: 400px; */
    color: rgba(14, 14, 14, 1);
    margin: 25px 0;
}
.energy-container{
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    gap: 24px;
    
    /* width: 1280px;
    height: 325px; */
}
.digital{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 40px;
    width: 410px;
    height: 280px;
}
.green{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 40px;
    width: 410px;
    height: 280px;
    /* width: 410px;
    height: 325px; */
}
.modern{
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 40px;
    width: 410px;
    height: 280px;
}
.energy-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.energy-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.energy-button{
    border-radius: 8px;
    padding: 15px 25px;
    /* width: 122px;
    height: 41px; */
    border: none;
    color: #ffffff;
    cursor: pointer;
}
.blue{
    background-color: rgba(84, 144, 245, 1);
}
.greenn{
    background-color: rgba(9, 161, 92, 1);
}
.light{
    background-color: rgba(255, 194, 57, 1);
}
.satellite{
    width: 1280px;
    height: 1004px;
    
}
.satellite-container{
    background-color: #ffffff;
    display: flex;
    gap: 32px;
    padding: 32px;
    border-radius: 24px;
}
.satellite h1{
    color: rgba(14, 14, 14, 0.8);
    width: 744px;
    height: 38px;
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E; 
}
.satellite-container button{
    background-color: #006A50;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    margin: 30px 0;
    font-size: 18px;
    font-weight: 600px;
    cursor: pointer;
}
.satellite-container h2{
    color: rgba(14, 14, 14, 0.8);
}
.satellite-container p, span{
    color: rgba(14, 14, 14, 0.7);
}
.donate{
    width: 1280px;
    height: 464px;
    /* margin: 40px 40px; */
    text-align: center;
}
.donate-container{
    /* width: 1070px;
    height: 128px; */
    /* width: 264px;
    height: 128px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    /* text-align: center; */
}    
.donate-container .one, .two, .five, .thousand{
    /* width: 264px;
    height: 128px; */
    font-size: 40px;
    font-weight: bold;
    background-color: #ffffff;
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
    border-radius: 16px;
    cursor: pointer;    
}
.two{
    background-color: rgba(198, 228, 214, 1);
}
.donate h1{
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: bold;
}
.donate p{
    color: rgba(14, 14, 14, 0.7);
}
.donate input{
    width: 1030px;
    height: 64px;
    font-size: 20px;
    text-align: center;
    border: none;
    /* margin: 30px 0px; */
}
.donate button{
    width: 150px;
    height: 50px;
    /* margin: 32px 0; */
    border-radius: 8px;
    border: none;
    color: #ffffff;
    background-color: rgba(0, 106, 80, 1);
    margin-bottom: 80px;
    cursor: pointer;
}
.newsletter{
    width: 1280px;
    height: 395px;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 60px 0;
}
.newsletter-container{
    width: 750px;
    height: 235px;
    text-align: center;
    padding: 80px 265px;
}
.newsletter h1{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: bold;
}
.newsletter p{
    /* width: 622px; */
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.plus input{
    width: 600px;
    height: 55px;
    border: none;
    color: rgba(14, 14, 14, 0.3);
    /* padding: 18px 40px; */
    font-size: 16px;
    font-weight: 40px;
}
.plus button{
    width: 150px;
    height: 56px;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    border-radius: 0 10px 10px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600px;
    cursor: pointer;
}
.plus{
    display: flex;
}
.donate-container:hover{
    color: red;
}
input::placeholder{
    padding: 18px 40px;
}
.one:hover, .two:hover, .five:hover, .thousand:hover, .donate button:hover{
    background-color: darkred;
    color: yellow;
    box-shadow: 10px 10px;
    border-radius: 20px;
}